@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--btn-focus-scale: 0.9;
}

.btn {
	animation: none;
}

.btn:active {
	transition: transform 0.1s !important;
}

.cl-card.🔒️ {
  height: calc(100vh - 6rem);
  font-family: 'Roboto', sans-serif;
  box-shadow: none;
  margin-left: 1rem;
}

.cl-navbar.🔒️ {
	display: none;
}